.popup-layout {
  margin-top: -20px;
}

.title-layout {
  color: #b8860b !important;
}

.layout-chon {
  margin-top: 40px;
}

.btn-chon {
  background-color: #012847;
  color: #ffffff;
  font-size: 14px;
}
