<div class="auth-modal" [ngClass]="{ scrolled: isScrolled }">
  <div class="auth-content">
    <div class="container">
      <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="verifySubmit()">
        <h2 class="text-center mb-4">Xác nhận Email</h2>

        <div class="form-bg mb-3">
          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp1"
            (input)="onInput($event, 0)"
            (keydown)="onKeyDown($event, 0)"
            (paste)="onPaste($event)"
          />

          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp2"
            (input)="onInput($event, 1)"
            (keydown)="onKeyDown($event, 1)"
          />

          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp3"
            (input)="onInput($event, 2)"
            (keydown)="onKeyDown($event, 2)"
          />

          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp4"
            (input)="onInput($event, 3)"
            (keydown)="onKeyDown($event, 3)"
          />

          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp5"
            (input)="onInput($event, 4)"
            (keydown)="onKeyDown($event, 4)"
          />

          <input
            #otpInput
            type="text"
            maxlength="1"
            class="form-control text-center"
            formControlName="otp6"
            (input)="onInput($event, 5)"
            (keydown)="onKeyDown($event, 5)"
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">Xác nhận</button>
      </form>
    </div>
  </div>
</div>
