<div class="header-container" [ngClass]="{ scrolled: isScrolled }">
  <div class="popup-layout">
    <nav class="navbar navbar-expand-lg navbar-layout">
      <!-- Logo -->
      <a class="navbar-brand" [routerLink]="['/home']">
        <img
          src="assets/img/logo-fitness.png"
          alt="Logo"
          class="logo-img"
          [ngClass]="{ scrolled: isScrolled }"
        />
      </a>

      <!-- <form class="">
        <input
          class="form-control search-input"
          type="search"
          name="searchKeyword"
          placeholder="Tìm kiếm..."
          aria-label="Search"
          (onChange)="getData()"
        />
      </form> -->

      <!-- Toggle mobile -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNav" #navbarCollapse>
        <ul class="navbar-nav nav-layout me-auto">
          <li class="nav-item" *ngIf="isAdmin() && isEmployee()">
            <a class="nav-link" routerLink="/manager">Quản lý</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Trang chủ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/introduction">Giới thiệu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/forum">Diễn đàn</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Menu</a>
          </li>

          <li class="nav-item" *ngIf="!isAdmin() && !isEmployee()">
            <a class="nav-link" routerLink="/cart">Giỏ hàng</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Liên hệ</a>
          </li>
        </ul>

        <div class="nav-display">
          <!-- <form class="">
            <input
              class="form-control search-input"
              type="search"
              name="searchKeyword"
              placeholder="Tìm kiếm..."
              aria-label="Search"
              (onChange)="getData()"
            />
          </form> -->

          <!-- Right side icons -->
          <div class="">
            <!-- <div class="dropdown">
            <a
              href="#"
              class="nav-icon me-4 position-relative"
              id="notificationDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-utensils fa-lg"></i>
              <span
                *ngIf="!hasNewNotification"
                class="badge rounded-circle position-absolute animate__animated animate__bounce"
              >
                <i
                  class="fa-solid fa-bell"
                  [ngClass]="{
                    'animate__animated animate__shakeX': hasNewNotification,
                  }"
                ></i>
              </span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end animate__animated animate__fadeIn noti mt-3"
              aria-labelledby="notificationDropdown"
            >
              <li class="notification-item" *ngFor="let Donhang of donhang">
                <div class="notification-title">
                  Đơn hàng: {{ Donhang.IDDonHang }}
                </div>
                <div>Trạng thái: {{ Donhang.TrangThaiSanPham }}</div>
                <div class="notification-time">
                  Ngày đặt: {{ Donhang.NgayDatHang | date: "dd/MM/yyyy" }}
                </div>
                <div class="notification-btn">
                  <button class="btn btn-success">Chi tiết</button>
                </div>
              </li>
              <li
                *ngIf="donhang.length === 0"
                class="dropdown-item no-notifications"
                id="noNotifications"
              >
                Không có thông báo mới
              </li>
            </ul>
          </div> -->
            <ng-container *ngIf="!currentUser">
              <a
                [routerLink]="['/login']"
                class="btn logout-btn animate__animated animate__fadeInRight"
                >Đăng ký/Đăng nhập</a
              >
            </ng-container>

            <ng-container *ngIf="currentUser">
              <div
                class="user-info d-flex align-items-center animate__animated animate__fadeInRight"
              >
                <a
                  [routerLink]="['/personalPage']"
                  class="nav-link"
                  *ngIf="!this.isAdmin() && !this.isEmployee()"
                >
                  <i class="fa fa-user-circle fs-5"></i>
                  {{ currentUser.name }}
                </a>
                <button
                  class="btn btn-outline-light logout-btn"
                  (click)="logout()"
                >
                  <i class="fa fa-sign-out-alt me-1"></i> Đăng xuất
                </button>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- Right side -->
        <!-- <div class="d-flex align-items-center">
          <input
            class="form-control search-input me-3"
            type="search"
            placeholder="Tìm kiếm..."
          />

          <ng-container *ngIf="!currentUser">
            <a routerLink="/login" class="btn btn-outline-light"> Đăng nhập </a>
          </ng-container>

          <ng-container *ngIf="currentUser">
            <span class="text-light me-3">
              <i class="fa fa-user-circle"></i>
              {{ currentUser.name }}
            </span>

            <button class="btn btn-outline-light" (click)="logout()">
              Đăng xuất
            </button>
          </ng-container>
        </div> -->
      </div>
    </nav>
  </div>
  <!-- Search popup -->
  <div
    class="search-popup"
    *ngIf="showSearch"
    [ngClass]="{
      'animate__animated animate__fadeIn': showSearch,
      animate__fadeOut: !showSearch,
    }"
  >
    <div class="search-content">
      <button class="close-btn" (click)="toggleSearch()">
        <i class="fas fa-times"></i>
      </button>
      <form class="d-flex align-items-center">
        <input
          class="form-control search-input"
          type="search"
          name="searchKeyword"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />
        <button class="btn btn-search ms-2" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<!-- <div
  class="modal fade show d-block bg-modal"
  *ngIf="isModalOpen"
  style="background-color: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" *ngFor="let order of orders">
      <div class="modal-header">
        <h4 class="modal-title fw-bold">
          Chi tiết đơn hàng #{{ order.IDDonHang }}
        </h4>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>ID Đơn Hàng</th>
                <th>Tên Sản phẩm</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center" style="font-size: 25px">
                  {{ order.IDDonHang }}
                </td>
                <td>
                  <ul class="mb-0">
                    <li *ngFor="let item of order.items">
                      {{ item.product.product.TenSanPham }} (x{{
                        item.SoLuong
                      }})
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
