.card-header {
  background-color: #001628;
  border-bottom: none;
  padding: 8px;
  height: 56px;
}

h5 {
  color: #fffff2;
}

.date-exercise {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  font-weight: 700;
  width: 50px;
  border-radius: 10px;
  height: 20px;
  font-weight: 700;
  color: #ffffff;
  font-variant-numeric: tabular-nums;
}

.date-exercise-warning {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  font-weight: 700;
  width: 50px;
  border-radius: 10px;
  height: 20px;
  color: #ffffff;
  font-variant-numeric: tabular-nums;
}

.customer-name {
  font-weight: 600;
  color: #212529;
}
