<nz-tabset [(nzSelectedIndex)]="indexTab" class="popup-layout">
  <nz-tab class="title-layout" nzTitle="Thông tin">
    <ng-container *ngIf="!initForm">
      <nz-skeleton [nzParagraph]="{ rows: 10 }"></nz-skeleton>
    </ng-container>
    <ng-template nz-tab *ngTemplateOutlet="tab1"></ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #tab1>
  <ng-container *ngIf="initForm">
    <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="saveData()">
      <div class="bg-display-flex">
        <!-- CÁC TRƯỜNG THÔNG TIN -->
        <div class="row">
          <div class="col-md-12">
            <label for="trangThaiSanPham" class="form-label"
              >Cập nhật trạng thái sản phẩm</label
            >
            <input-select
              type="text"
              formControlName="trangThaiSanPham"
              [items]="listTrangThaiSanPham"
            />
          </div>

          <!-- <div class="col-md-6">
            <label for="tenSanPham" class="form-label">Tên sản phẩm</label>
            <input
              type="text"
              class="form-control"
              formControlName="tenSanPham"
            />
          </div>

          <div class="col-md-6">
            <label for="gia" class="form-label">Giá</label>
            <input-moneny type="number" formControlName="gia" />
          </div>

          <div class="col-md-6">
            <label for="soTonKho" class="form-label">Số tồn kho</label>
            <input
              type="number"
              class="form-control"
              id="soTonKho"
              formControlName="soTonKho"
              min="0"
              placeholder="Số tồn"
            />
          </div>

          <div class="col-md-12">
            <label for="moTa" class="form-label">Mô tả</label>
            <textarea
              type="text"
              formControlName="moTa"
              class="form-control"
              placeholder="Mô tả sản phẩm"
            ></textarea>
          </div> -->
        </div>
      </div>
    </form>
  </ng-container>
</ng-template>

<div class="list-button mt-4">
  <button
    nz-button
    type="button"
    class="btn btn-danger"
    (click)="closeDialog()"
  >
    <i class="isax-close-circle1 mr-2"></i>Đóng
  </button>

  <ng-container *ngIf="initForm">
    <button
      nz-button
      type="button"
      class="btn btn-primary"
      *ngIf="this.mode !== 'view'"
      (click)="saveData()"
    >
      <i class="isax-add-circle1 mr-2"></i>Ghi
    </button>
  </ng-container>
</div>
