<nz-tabset [(nzSelectedIndex)]="indexTab" class="popup-layout">
  <nz-tab class="title-layout" nzTitle="Thông tin">
    <ng-container *ngIf="!initForm">
      <nz-skeleton [nzParagraph]="{ rows: 10 }"></nz-skeleton>
    </ng-container>
    <ng-template nz-tab *ngTemplateOutlet="tab1"></ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #tab1>
  <ng-container *ngIf="initForm">
    <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="saveData()">
      <div class="bg-display-flex">
        <!-- CÁC TRƯỜNG THÔNG TIN -->
        <div class="row">
          <div class="col-md-4 mt-3">
            <button
              type="button"
              class="form-control btn-chon btn-primary"
              (click)="chonKhachHang()"
            >
              <div class="text-center">
                <i class="fa-solid fa-user"></i>
              </div>

              Chọn khách hàng
            </button>
          </div>

          <div class="col-md-4 mt-3">
            <button
              type="button"
              class="form-control btn-chon btn-primary"
              (click)="chonGoiTap()"
            >
              <div class="text-center">
                <i class="fa-solid fa-tag"></i>
              </div>

              Chọn gói tập
            </button>
          </div>

          <div class="col-md-4 mt-3">
            <button
              type="button"
              class="form-control btn-chon btn-primary"
              (click)="chonSanPham()"
            >
              <div class="text-center">
                <i class="fa-solid fa-bag-shopping"></i>
              </div>

              Chọn sản phẩm
            </button>
          </div>

          <div class="col-md-6">
            <label for="tenKhachHang" class="form-label">Tên khách hàng</label>
            <input
              type="text"
              class="form-control"
              formControlName="tenKhachHang"
              placeholder="Tên khách hàng"
            />
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
            />
          </div>

          <div class="col-md-6">
            <label for="soDienThoai" class="form-label">Số điện thoại</label>
            <input
              type="text"
              class="form-control"
              formControlName="soDienThoai"
              placeholder="Số điện thoại"
            />
          </div>

          <div class="col-md-6">
            <label for="gia" class="form-label">Hình thức thanh toán</label>
            <input-select
              formControlName="hinhThucThanhToan"
              [items]="listHinhThucThanhToan"
            ></input-select>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giảm giá</th>
                    <th scope="col">Giá sau giảm</th>
                    <th scope="col">Tổng</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartItems">
                    <td>
                      {{ item.product.tenGoiTap || item.product.tenSanPham }}
                    </td>

                    <td>{{ item.product.gia | moneyPipe }}</td>
                    <td align="center">
                      <input
                        type="number"
                        class="form-control w-75 text-center"
                        [disabled]="!!item.product.tenGoiTap"
                        [(ngModel)]="item.soLuong"
                        [max]="item.product.tenGoiTap ? 1 : null"
                        (change)="updateQuantity(item)"
                        min="1"
                      />
                    </td>
                    <td>
                      {{ item.product.giamGia | labelValue: listGiamGia }}
                    </td>
                    <td>
                      {{ item.product.giaSauGiam | moneyPipe }}
                    </td>
                    <td>
                      {{
                        (item.product.giaSauGiam || item.product.gia) *
                          item.soLuong | moneyPipe
                      }}
                    </td>
                    <td>
                      <button
                        class="btn btn-danger btn-sm"
                        (click)="removeFromCart(item)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="cartItems.length === 0">
                    <td colspan="8" class="text-center">Giỏ hàng trống</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
              <h5 class="fw-bold">
                Tổng cộng: {{ getTotalPrice() | moneyPipe }}
              </h5>
              <!-- <button
                class="btn btn-success"
                [disabled]="cartItems.length === 0"
                (click)="openCheckoutModal()"
              >
                Đặt hàng
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<div class="list-button mt-4">
  <button
    nz-button
    type="button"
    class="btn btn-danger"
    (click)="closeDialog()"
  >
    <i class="isax-close-circle1 mr-2"></i>Đóng
  </button>

  <ng-container *ngIf="initForm">
    <button
      nz-button
      type="button"
      class="btn btn-primary"
      (click)="saveData()"
    >
      <i class="isax-add-circle1 mr-2"></i>Ghi
    </button>
  </ng-container>
</div>
