<div class="container">
  <!-- Login Form -->
  <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onConfirm()">
    <div class="mb-3">
      <label for="loginEmail" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" formControlName="matKhau" />
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Xác nhận mật khẩu</label>
      <input
        type="password"
        class="form-control"
        formControlName="xacNhanMatKhau"
      />
    </div>

    <div class="list-button mt-4">
      <button
        nz-button
        type="button"
        class="btn btn-danger"
        (click)="closeDialog()"
      >
        <i class="isax-close-circle1 mr-2"></i>Đóng
      </button>
      <button type="submit" class="btn btn-primary">Xác nhận</button>
    </div>
  </form>
</div>
