.cart-page {
  height: 100%;
  width: 100%;
  padding: 70px 0 86px 0;
}

.card {
  border: none;
  border-radius: 10px;
}

.cart-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.table {
  min-width: 1000px;
  white-space: nowrap;
}

.table td {
  max-width: 120px;
  white-space: normal;
  word-break: break-word;
}

.btn-success {
  border-radius: 20px;
  padding: 7px 25px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 1200px) {
}

@media (max-width: 990px) {
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  .bg-ngoai {
    margin-top: 90px;
  }
}
