<div class="container">
  <!-- Login Form -->
  <form
    *ngIf="myForm && !showVerify"
    [formGroup]="myForm"
    (ngSubmit)="onLoginSubmit()"
  >
    <div class="mb-3">
      <label for="loginEmail" class="form-label"
        >Email hoặc Số điện thoại</label
      >
      <input
        type="text"
        placeholder="Email hoặc Số điện thoại"
        class="form-control"
        formControlName="userAccount"
      />
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Mật khẩu</label>
      <input
        type="password"
        placeholder="Mật khẩu"
        class="form-control"
        formControlName="matKhau"
      />
    </div>
    <div class="mb-3 text-end">
      <a (click)="changePassWord()" class="text-light">Quên mật khẩu?</a>
    </div>
    <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
  </form>
</div>

<app-verify-email
  *ngIf="showVerify"
  [email]="emailForVerify"
  (verifySuccess)="onVerifySuccess()"
>
</app-verify-email>
>
